#startDate {
  position: relative;
  width: 130px;
  color: black;
  height: 39px;
  display: inline-block;
}

#startDate:before {
  content: attr(data-date);
  display: inline-block;
  color: black;
}

#startDate::-webkit-datetime-edit,
#startDate::-webkit-inner-spin-button,
#startDate::-webkit-clear-button {
  display: none;
}

#startDate::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(-50%, -50%); /* ปรับตำแหน่งให้กึ่งกลาง */
  color: black;
  opacity: 1;
}

#endDate {
  position: relative;
  width: 130px;
  color: black;
  height: 39px;
  display: inline-block;
}

#endDate:before {
  content: attr(data-date);
  display: inline-block;
  color: black;
}

#endDate::-webkit-datetime-edit,
#endDate::-webkit-inner-spin-button,
#endDate::-webkit-clear-button {
  display: none;
}

#endDate::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(-50%, -50%);
  color: black;
  opacity: 1;
}

@media only screen and (max-width: 639px)  {/*ipad แนวตั้ง*/
  #startDate, #endDate {
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 110px;
    color: white;
  }
}

/* pagination */
/* Pagination when active */
.pagination .page-item.active .page-link {
  background-color: #000;
  color: #fff; /* เปลี่ยนสีตัวอักษรเป็นขาว */
  border-color: #000; /* เปลี่ยนสีเส้นขอบ */
}

/* Pagination when active on focus (clicked) */
div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-item.active .page-link:focus {
  background-color: #000;
  color: #fff;
  border-color: #000;
}

/* Pagination when hovered */
.pagination .page-item.active .page-link:hover {
  background-color: #000;
  color: #fff;
  border-color: #000;
}

/* Pagination non-active items */
.pagination .page-item:not(.active) .page-link {
  background-color: #fff; /* สีพื้นหลังเริ่มต้น */
  color: #000; /* สีตัวอักษรเริ่มต้น */
  border-color: #000; /* สีเส้นขอบเริ่มต้น */
}

/* Pagination non-active items on hover */
.pagination .page-item:not(.active) .page-link:hover {
  background-color: #000; /* สีพื้นหลังเมื่อ hover */
  color: #fff; /* สีตัวอักษรเมื่อ hover */
  border-color: #000; /* สีเส้นขอบเมื่อ hover */
}
