@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
body{
    font-family: 'Itim', cursive !important;
}
html{
    overflow-y: auto !important;
    scroll-behavior: smooth;
}
#myChart{
    font-weight: bold!important;
}